:root {
    --accent: var(--brand-yellow);
}

.background {
    position: relative !important;
    width: 70rem;
    top: -49rem;
    left: -7rem;
    transform: rotate(176deg);
}

.links {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: flex-start;

    a {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1rem;
        color: var(--colour-text);
        text-decoration: none;
        :hover, :focus, :active {
            img {
                background-color: var(--accent-hover);
            }
        }
    }

}
