:root {
    --accent: var(--brand-green);
}

body {
    .background {
        width: 96rem;
        max-width: 100rem;
        height: auto;
        right: 0;
        top: 47rem;
        transform: rotate(-31deg);
    }
}

.client-logo {
    height: 3.375rem;
    width: auto;
}
.image-fade-bottom {
    background: var(--colour-background); // Your chosen background

    img {
        display: block;
        max-width: 100%;
        height: auto;
        box-sizing: border-box;
        -webkit-mask-image: linear-gradient(
                        to bottom,
                        black 60%,
                        transparent 100%
        );
        mask-image: linear-gradient(
                        to bottom,
                        black 60%,
                        transparent 100%
        );
    }
}
.case-study-figure {
    img {
        border: 5px solid var(--accent);
    }
    &--existing-interface {
        margin-top: .5rem;
        .board-note {
            width: 85%;
            margin: -4rem 15%;
            transform: rotate(4deg);
        }
    }

    &--triage-order {
        width: 50%;
        img {
            width: 100%;
            height: auto;
        }
        .board-note {
            width: 100%;
            top: -3rem;
            transform: rotate(-1.2deg);
        }
    }

    &--triage-check .board-note {
        width: 45rem;
        top: -1rem;
        left: 50%;
        transform: rotate(-2.2deg);
    }

    &--statistics .board-note {
        width: 20rem;
        left: calc(100% - 16rem);
        transform: rotate(13deg);
    }

    &--prototypes .board-note {
        top: -3rem;
        right: 0;
    }

    &--dashboard .board-note {
        width: 17rem;
        right: 0;
        bottom: -1rem;
        transform: rotate(5deg);
    }
    &--application-history .board-note {
        width: 20rem;
        bottom: 12rem;
        right: 10rem;
    }
    &--recommended-rejection .board-note {
        right: -2rem;
        bottom: -1rem;
        width: 33%;
        transform: rotate(3deg);
    }
}

.principles {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 1.5rem;
    margin: var(--space-l) 0;
    padding: 0;
    list-style: none;
}

.principle {
    flex: 1;
    min-width: 33%;
    position: relative;
    padding: 1.5rem;

    &::before {
        content: "";
        position: absolute;
        top: -1px;
        left: -1px;

        width: 0.4rem;
        height: 100%;
        background: var(--accent);
        transform: rotate(-0.6deg);

        clip-path: polygon(
                        35% 0%,
                        85% 1%,
                        75% 15%,
                        100% 30%,
                        80% 48%,
                        95% 65%,
                        75% 85%,
                        80% 98%,
                        40% 100%,
                        10% 98%,
                        25% 80%,
                        5% 60%,
                        20% 42%,
                        0% 25%,
                        20% 10%
        );
    }

    &:nth-child(even)::before {
        transform: rotate(0.5deg) scaleX(-1);
    }

    &:nth-child(3n)::before {
        transform: rotate(-0.3deg) scaleY(-1);
    }
}

.opportunity-title {
    margin-top: var(--space-l);
    display: flex;
    align-items: center;
    gap: 1rem;
    img {
        height: 2rem;
        margin-bottom: 0.5rem;
    }
}

