:root {
    --accent: var(--brand-blue);
}

body {
    .background {
        width: 80rem;
        height: auto;
        left: -15rem;
        top: 50rem;
    }
}

.case-study-figure {
    &--mex-selected-datasets {
        img {
            border: 5px solid var(--accent);
        }

        .board-note {
            width: min(80%, 42rem);
            margin: -4rem 0 0 37rem;
            transform: rotate(-1.5deg);
        }

        @media (max-width: 40rem) {
            .board-note {
                width: calc(100% - 1rem);
                margin: -3rem 0 0 20rem;
                transform: rotate(-0.75deg);

                &::before {
                    left: -0.5rem;
                }

                &::after {
                    right: -0.25rem;
                }
            }
        }
    }
    &--userJourney {
        .figure-title {
            font-size: 1.5rem !important;
            margin-bottom: 3rem;
        }
        figcaption {
            width: 25rem;
            left: 51rem;
            bottom: 1rem;
        }
    }
    &--selected-datasets .board-note {
        width: 50rem;
        left: 38rem;
        top: 10.5rem;
    }
    &--metadata-cards .board-note {
        width: 45rem;
        left: 38rem;
        bottom: 4rem;
        transform: rotate(2.15deg);
    }
    &--record-relationships {
        width: 100vw;
        margin-left: -20rem !important;
        img {
            width: 90%;
            margin: 0 auto;
        }
        .board-note {
            width: 75rem;
            left: 20rem;
            top: -2rem;
        }
    }
    &--evaluation-priorities .board-note {
        width: 35rem;
        left: 0;
        bottom: 10rem;
        transform: rotate(-0.15deg);
    }
    &--design-to-implementation {
        img.annotations {
            width: 87.45%;
            border: 3px solid var(--accent);
        }
        .board-note {
            width: 46rem;
            left: 0;
            bottom: 3rem;
            transform: rotate(-1.5deg);
        }
    }
}